.item {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    transition: .3s ease;
}

.item:hover {
    box-shadow: 0.2rem 1rem 3.5rem 0.8rem rgb(111 121 131);
    transform: scale(1.1);
}