.MyNavbar {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 40px;
}

.navbar-container {
    background-color: #ccc;
    font-size: 20px;
    width: 100%;
}

.icon {
    width: 100px;
    margin-left: 40px;
}

